{% extends 'layout/main.html' %}

{% block page_title %}Centrale Lille Associations{% endblock %}

{% block content %}
    <div class="container">

        <h1 class="border-primary">Centrale Lille Associations</h1>
        <section>
            <p class="text-justify">
                <b>Centrale Lille Associations</b> est une association loi 1901 fondée en 2008, continuation de plus d'un siècle
                et demi de développement perpétuel des structures associatives de Centrale de Lille par ses étudiants.
            </p>

            <p class="text-justify">
                Elle a pour but d’organiser et de favoriser la vie associative des élèves de l’École Centrale de Lille,
                de l’ITEEM et de l'ENSCL. Elle s'appuie pour cela sur un capital humain fort de près de
                mille élèves-ingénieurs impliqués dans leur vie associative, et autant de cotisants pour un budget annuel
                de 120 000€.
            </p>

            <p class="text-justify">
                Le Conseil d’Administration (dit "CA Élèves") est composé d'élèves élus provenant de toutes les promotions
                actuelles de l’École Centrale, de l'ITEEM et de l'ENSCL.<br>
                Il est chargé de la gestion financière, morale et structurelle de Centrale Lille Associations.<br>
                Il répartit équitablement les ressources entre ses cotisants, définit les orientations générales de l’Association
                et de ses membres associatifs et en assure le suivi.
            </p>

            <p class="text-justify">
                L'Association peut également pour cela s'appuyer sur ces comités-experts : le Comité Électoral et ses
                commissaires électoraux ; et le Comité d'Audit et ses vérificateurs aux comptes (dits aussi "auditeurs').
            </p>

            <p class="text-justify">
                En relation avec l'Ecole et ses membres associatifs que sont les BDX ;
                Centrale Lille Associations est l'interlocuteur privilégié des élèves pour développer leurs projets en
                recevant conseil et expérience capitalisée sur la gestion comptable et légale des associations.
            </p>

        </section>

        <h2 class="mt-5">Devenir adhérant</h2>

        <h3 class="mt-2" style="font-size: 1.5rem">Une étape incontournable pour participer à la vie associative</h3>

        <div class="mt-4 mb-5 text-justify">
            <p class="text-bold">
                La cotisation unique, mise en place en même temps que la création de <i>Centrale Lille Associations</i> en
                2008,
                a pour objectif de permettre aux étudiants de Centrale Lille Institut de profiter de tout ce que peut
                leur offrir l'univers associatif gravitant autour de l'école.
            </p>
            <p>
                Que ce soit à travers la pratique du sport, du théâtre, de la photo, de la musique, du dessin, de la
                cuisine ou encore l'organisation et la participation à de nombreux événements tout au long de l'année
                scolaire, l'adhésion à <i>Centrale Lille Associations</i> offre un cadre unique permettant à chaque étudiant de
                découvrir, partager et vivre une multitude d'expériences dans une grande diversité de domaines qui
                complèteront avantageusement son diplôme d'ingénieur centralien.
            </p>
            <p>

            </p>
            <p>
                L'adhésion à <i>Centrale Lille Associations</i> permet :
            </p>
            <ul class="max-w-1000 ms-auto p-15">
                <li>
                    de participer aux activités proposées par <a href="#" target="_blank"><u>les clubs et les commissions</u></a> de
                    <i>Centrale Lille Associations</i> et d'accéder à leurs ressources matérielles
                </li>
                <li>
                    de pratiquer <a href="https://bds-centralelille.fr" target="_blank"><u>les différents sports proposés par
                    le bureau des sports</u></a> et de
                    participer à un tarif préférentiel à différents tournois étudiants français et européens tout au
                    long
                    de l'année (CCL, TOSS, ...)
                </li>
                <li>
                    de "lister", c'est-à-dire de se présenter aux élections des
                    différents bureaux (les fameux "bureau des élèves", "bureau des sports" et "bureau des arts") qui
                    structurent la vie associative de l'école
                </li>
                <li>
                    de profiter pleinement du bar associatif de l'école Centrale Lille
                </li>
                <li>
                    d'avoir un accès prioritaire et un tarif préférentiel aux différents événements qui ponctuent
                    toute l'année scolaire
                </li>
            </ul>
        </div>

        <h3 style="font-size: 1.5rem">Une adhésion qui s'adapte au profil de chaque étudiant</h3>

        <div class="mt-4 mb-5 text-justify">
            <p>
                Fixée à 90€ par an, l'adhésion à <i>Centrale Lille Associations</i> est réglée en une fois au début de la
                scolarité
                au sein du Centrale Lille Institut et s'adapte aux différents cursus :
            </p>
            <ul class="mx-auto p-4" style="max-width: 1000px">
                <li>
                    Pour tous les étudiants intégrant l'école Centrale de Lille pour suivre un cursus ingénieur en 3
                    ans,
                    l'adhésion revient donc à <b style="font-weight: 600">270€</b> pour toute leur scolarité
                </li>
                <li>
                    Pour tous les étudiants intégrant l'école Centrale de Lille dans le cadre d'un double diplôme
                    (<u>depuis</u>
                    une université étrangère ou <u>depuis</u> l'EDHEC) et suivant donc un cursus en 2 ans, l'adhésion revient donc à
                    <b style="font-weight: 600">180€</b> pour toute leur scolarité
                </li>
                <li>
                    Pour tous les étudiants intégrant l'ITEEM pour suivre un cursus ingénieur en 5 ans, l'adhésion
                    revient à <b style="font-weight: 600">360€</b> pour toute leur scolarité (le cursus comprenant une
                    année entière en dehors du campus de Lille)
                </li>
                <li>
                    Pour tous les étudiants intégrant l’ENSCL pour suivre un cursus ingénieur en 3 ans, l'adhésion
                    revient à <b style="font-weight: 600">225€</b> pour toute leur scolarité (le cursus comprenant un
                    semestre entier en dehors du campus de Lille)
                </li>
            </ul>
        </div>

        <h3 style="font-size: 1.5rem">Un partenariat avec <i>Centrale Lille Alumni</i> pour la professionnalisation</h3>

        <div class="mt-4 mb-5 text-justify">
            <p class="text-bold">
                Depuis 2018, <i>Centrale Lille Associations</i> s'est associé à <i>Centrale Lille Alumni</i> (association des diplômés
                de Centrale Lille). Ce partenariat offre à tous les élèves ingénieurs de l’Ecole Centrale et de l’ITEEM une
                opportunité d'intégrer dès le début de leur scolarité le vaste réseau professionnel des ingénieurs
                centraliens.
            </p>
            <p>
                L’adhésion à <i>Centrale Lille Alumni</i> permet :
            </p>
            <ul class="max-w-1000 ms-auto p-15">
                <li>
                    d’être accompagné personnellement et en toute confiance par un mentor diplômé de l’École, de la
                    première année jusqu’à la prise de poste. C’est le mentorat.
                </li>
                <li>
                    d’avoir accès à la plateforme Centrale Carrières où sont postées des offres de stage privilégiées
                    pour les étudiants centraliens
                </li>
                <li>
                    d’intégrer le réseau des alumni centraliens (12 000 diplômés) et de bénéficier de contacts et de
                    conseils pour la construction de son projet professionnel
                </li>
                <li>
                    de participer à la vie des groupes régionaux, internationaux et professionnels du réseau grâce à des
                    contacts locaux de qualité
                </li>
            </ul>
            <p>
                Dans le cadre du pack « CLA+Alumni », les étudiants intégrant l’Ecole Centrale et l’ITEEM bénéficient d’une
                adhésion à <b style="font-weight: 600">85€</b> pour toute la scolarité (au lieu du tarif de base de <b
                    style="font-weight: 600">100€</b>). Le règlement est unique et ainsi simplifié.
            </p>
        </div>

        <h3 style="font-size: 1.5rem">Une offre simple et un pack plus complet</h3>

        <div class="mt-5 mb-6 text-justify">

            <p>
                <i>Centrale Lille Associations</i> propose donc à chaque étudiant intégrant Centrale Lille Institut deux
                offres pouvant être payées en ligne ou bien par chèque :
            </p>
            <ul class="mx-auto p-4" style="max-width: 1000px">
                <li>
                    L'adhésion simple à <i>Centrale Lille Associations</i> permettant de participer pleinement à la vie
                    associative de l'école
                </li>
                <li>
                    Un pack comprenant <u>en plus</u> l'adhésion à <i>Centrale Lille Alumni</i> permettant de profiter de
                    tous les services offerts aux étudiants comme le mentorat, des ateliers encadrés par des experts
                    du recrutement ou des offres de stage proposées par des diplômés.
                </li>
            </ul>

            <div class="row align-items-center mt-4">
                <div class="col-12 col-md-6">
                    <div class="card card-body">
                        <h4 class="card-title text-center">
                            Adhésion à CLA
                        </h4>
                        <div class="card-text">
                            <ul>
                                <li>Participation à la vie associative de l'école</li>
                                <li>Possibilité de pratiquer les sports proposés par le BDS</li>
                                <li>Tarifs préférentiels sur de nombreux événements</li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <a href="{% url "cla_registration:register_cla_centrale_dd" %}" class="btn btn-secondary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">Étranger/EDHEC</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">180€</h3>
                                </div>
                            </a>
                            <a href="{% url "cla_registration:register_cla_centrale" %}" class="btn btn-secondary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">Cycle classique</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">270€</h3>
                                </div>
                            </a>
                            <a href="{% url "cla_registration:register_cla_iteem" %}" class="btn btn-secondary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">ITEEM</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">360€</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="card card-body">
                        <h4 class="card-title text-center">
                            Pack CLA+Alumni
                        </h4>
                        <div class="card-text">
                            <ul>
                                <li>
                                    Adhésion à <i>Centrale Lille Associations</i> :
                                    <ul>
                                        <li>Participation à la vie associative de l'école</li>
                                        <li>Possibilité de pratiquer les sports proposés par le BDS</li>
                                        <li>Tarifs préférentiels sur de nombreux événements</li>
                                    </ul>
                                </li>
                                <li>
                                    Adhésion à <i>Centrale Lille Alumni</i> :
                                    <ul>
                                        <li>Accès à l’ensemble des services carrière des alumni (stage, job)</li>
                                        <li>Mentorat</li>
                                        <li>Contacts centraliens à travers toute la France et le monde entier</li>
                                        <li>Evénements, conférences professionnelles, etc.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <a href="{% url "cla_registration:register_pack_centrale_dd" %}" class="btn btn-primary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">Étranger/EDHEC</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">265€</h3>
                                </div>
                            </a>
                            <a href="{% url "cla_registration:register_pack_centrale" %}" class="btn btn-primary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">Cycle classique</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">355€</h3>
                                </div>
                            </a>
                            <a href="{% url "cla_registration:register_pack_iteem" %}" class="btn btn-primary btn-block">
                                <div>
                                    <h4 class="m-0" style="font-size: 1rem">ITEEM</h4>
                                    <h3 class="m-0" style="font-size: 0.75rem">445€</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card max-w-1000 ms-auto mt-7" style="margin-top: 75px">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="display-4">Des questions ?</h1>
                    <p class="lead">
                        N'hésitez pas à nous contacter, nous vous répondrons avec plaisir !
                    </p>
                </div>

                <div class="row mx-auto mt-4" style="max-width: 1000px">
                    <div class="col-12 col-sm-6">
                        <a class="btn btn-blue-dark btn-block btn-lg" href="mailto:cla@centralelille.fr">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center" style="width: 50px">
                                    <i class="far fa-2x fa-envelope"></i>
                                </div>
                                <div>
                                    <h3 class="m-0" style="font-size: 1rem">cla@centralelille.fr</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a class="btn btn-blue-dark btn-block btn-lg"
                           href="https://www.facebook.com/CentraleLilleAssociations">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center" style="width: 50px">
                                    <i class="fab  fa-2x fa-facebook-square"></i>
                                </div>
                                <div>
                                    <h3 class="m-0" style="font-size: 1rem">@CentraleLilleAssociations</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
