{% extends "layout/standalone.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>
        h1 {
            font-size: 1.5rem
        }

        @media (min-width: 1200px) {
            h1 {
                font-size: 2rem
            }
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: .05rem;
            font-size: 1rem;
            color: #3a3a3a;
        }

        p {
            font-size: .85rem;
        }
    </style>
{% endblock %}

{% block page_title %}{{ party.name }} | Billetteries | CLA{% endblock %}

{% block background_image_url %}{% static "cla_ticketing/img/sd1_blur.jpg" %}{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 600px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div>

            </div>
        </div>
    </div>
{% endblock %}