{% extends "layout/standalone.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>

        @media (min-width: 1200px) {
            h1 {
                font-size: 2rem
            }

            h3 {
                font-size: 1.5rem;
            }
        }

        h1 {
            font-size: 1.5rem
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: .05rem;
            font-size: 1rem;
            color: #3a3a3a;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: .85rem;
        }

        .alert {
            font-size: .8rem;
            padding: .33rem;
        }

        #main {
            height: 80vh;
        }

        .search-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-width: 3px;
            border-style: solid;
            height: 75px;
            padding: 1rem;
            border-radius: 10px;
            margin-bottom: .66rem;
        }

        .search-item .status {
            width: 30px;
            text-align: center;
        }

        .search-item h4 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1rem;
        }

        .search-item h5 {
            text-transform: uppercase;
            font-size: .75rem;
            margin: .45rem 0 0;
        }

        .search-item:hover {
            text-decoration: none;
            opacity: .95;
            transition: opacity 200ms;
            color: #ffffff !important;
        }

        .search-item {
            background-color: #34495e;
            color: #ffffff;
            transition: opacity 150ms;
        }

        .search-item.noncontributor {
            background-color: #a10f2b;
            color: #ffffff;
            transition: opacity 150ms;
        }

        .search-item.loading {
            border: 0;
            height: 150px;
            text-align: center;
            font-size: 1.5rem;
        }

        .search-item.empty {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #main, #qrcode-container {
            height: 100%;
            max-height: 80vh;
            max-width: 525px;
            width: 100%;
        }

        #qrcode-container {
            display: none;
            position: relative;
            background-color: #34495e;
        }

        @media (max-width: 768px) {
            #main, #qrcode-container {
                max-height: calc(100% - 1rem);
            }
        }

    </style>
{% endblock %}

{% block page_title %}Entrées | {{ party.name }} | CLA{% endblock %}

{% block background_image_url %}{% static "cla_ticketing/img/sd1_blur.jpg" %}{% endblock %}

{% block content %}
    <div id="main" class="card">
        <div class="card-body">
            <div class="d-flex flex-column justify-content-between h-100">
                <div class="text-center">
                    <h2>Billetterie</h2>
                    <h1>{{ party.name }}</h1>
                    <div class="mx-auto mt-4 w-100" style="max-width: 350px;">
                        <a id="qrcode-start" href="#" class="btn btn-red-dark btn-block btn-lg mt-2 mb-2"><i class="fas fa-qrcode mr-1"></i> Scanner un QRCode</a>
                        <p class="text-center mt-3 mb-3">ou bien effectuer une recherche :</p>
                        <div>
                            <input type="search" id="search-field" class="form-control" placeholder="Prénom ou nom">
                        </div>
                    </div>
                </div>
                <div style="flex: auto; overflow: auto;" class="mt-4">
                    <div id="search-container" class="d-flex flex-column justify-content-between mx-auto" style="max-width: 350px;"></div>
                </div>
                {% if is_manager %}
                    <div class="mx-auto mt-4 w-100" style="max-width: 350px;">
                        <a class="btn btn-blue-dark btn-block btn-lg mt-2 mb-2" href="{% url "admin:cla_ticketing_dancingparty_change" party.pk %}">Gérer l'événement</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="qrcode-container">
        <div id="qrcode-reader"></div>
        <div class="pos-absolute pos-b-2 w-100 px-3">
            <a id="qrcode-stop" href="#" class="btn btn-light btn-block btn-lg mx-auto">Annuler</a>
        </div>
    </div>

{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script>
        $(document).ready(function () {
            var search_timeout;
            var loading_timeout;
            var request;
            var qrcode_scanner;
            const $main = $('#main');
            const $qrcode_container = $('#qrcode-container');
            const $search_field = $('#search-field');
            const $search_container = $('#search-container');
            $search_field.on('input', function (e) {
                clearTimeout(search_timeout);
                clearTimeout(loading_timeout);
                if (request) request.abort();
                let search_value = this.value;
                if (search_value.length > 0) {
                    search_timeout = setTimeout(function () {
                        $search_container.html("");
                        loading_timeout = setTimeout(function () {
                            $search_container.append("<div class='search-item loading'></div>");
                        }, 300);
                        $.ajax({
                            type: 'POST',
                            data: {"search_value": search_value},
                            success: function (data) {
                                console.log(data);
                                clearTimeout(loading_timeout);
                                $search_container.html("");
                                if (data.payload.length > 0) {
                                    for (let i in data.payload) {
                                        let r = data.payload[i];
                                        let classname = (!r.is_contributor ? 'noncontributor' : '');
                                        let icon = (r.checked_in ? "<i class='fas fa-user-check'></i>" : "<i class='fas fa-user'></i>");
                                        $search_container.append("<a href='" + r.href + "' class='search-item " + classname + "'><div class='infos'><h4>" + r.first_name + " " + r.last_name + "</h4><h5>" + r.ticket_label + "</h5></div><div class='status'>"+icon+"</div></a>");
                                    }
                                } else {
                                    $search_container.append("<div class='search-item empty'><h4>Aucun résultat</h4></div>");
                                }

                            },
                            dataType: 'json'
                        });
                    }, 300);
                } else {
                    $search_container.html("");
                }
            });
            $('#qrcode-start').on('click', function (event) {
                event.preventDefault()
                $main.hide();
                $qrcode_container.show();

                let loading = false;

                qrcode_scanner = new Html5Qrcode("qrcode-reader");
                const qrCodeSuccessCallback = (decodedText, decodedResult) => {
                    console.log(`Code scanned = ${decodedText}`, decodedResult);
                    if (!loading) {
                        loading = true;
                        $.ajax({
                            url: '{% url "cla_ticketing:party_checkin" party.slug %}/qrcode/'+decodedText,
                            type: 'GET',
                            success: function (data) {
                                loading = false;
                                qrcode_scanner.stop()
                                window.location.href = data.href;
                            },
                            error: function (jqXHR, textStatus,errorThrown) {
                                loading = false;
                                alert('Le QRCode scanné est invalide')
                            },
                            dataType: 'json'
                        });
                    }
                };
                const config = {fps: 10, qrbox: 250};
                qrcode_scanner.start({facingMode: {exact: "environment"}}, config, qrCodeSuccessCallback);
            });
            $('#qrcode-stop').on('click', function (event) {
                event.preventDefault();
                $qrcode_container.hide();
                $main.show();
                qrcode_scanner.stop();
                qrcode_scanner = null;
            });
        });
    </script>
{% endblock %}