{% extends "layout/standalone.html" %}
{% load static qr_code %}

{% block css %}
    {{ block.super }}
    <style>
        h1 {
            font-size: 1.5rem
        }

        @media (min-width: 1200px) {
            h1 {
                font-size: 2rem
            }
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: .05rem;
            font-size: 1rem;
            color: #3a3a3a;
        }

        h3 {
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: #34495e;
            margin-top: 0;
            margin-bottom: .25rem;
        }

        h4 {
            font-size: .9rem;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: #34495e;
            margin-top: 0;
            margin-bottom: .75rem;
        }

        p {
            font-size: .85rem;
        }

        #qrcode-container {
            max-width: 300px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block page_title %}{{ party.name }}{% endblock %}

{% block background_image_url %}{% static "cla_ticketing/img/sd1_blur.jpg" %}{% endblock %}

{% block content %}
    <div style="max-width: 525px" class="card w-100">
        <div class="card-body">
            <div>
                <div class="text-center">
                    <h2>Billetterie</h2>
                    <h1>{{ party.name }}</h1>
                </div>
                {% if registration_self.paid %}
                    <p class="text-center mt-3 mb-3">
                        Veuillez présenter le QRCode suivant à l'entrée :
                    </p>
                    <div id="qrcode-container">
                        <img src="{% qr_url_from_text registration.qrcode_jwt size=8 version=10 image_format='png' dark_color="#34495e" %}"
                             alt="QR Code d'inscription"
                             style="width: 100%; pointer-events: none; user-select: none;">
                    </div>
                    <div>
                        <h3>{{ registration.first_name }} {{ registration.last_name }}</h3>
                        <h4>{{ registration.ticket_label }}</h4>
                    </div>

                    <p class="text-center mt-4 mb-0">
                        <a class="btn btn-outline-dark" href="{{ back_href }}">Retour</a>
                    </p>
                {% else %}
                    {% if party.contributor_ticketing_href %}
                        <p class="text-justify">
                            <b>Vous pouvez maintenant régler votre place sur la billetterie de l'événement.</b>
                            Une fois votre paiement effectué l'organisateur de l'événement validera votre inscription et votre place sera assurée.
                        </p>
                        <p class="text-center">
                            <b>Toute place non payée n'est pas réservée.</b>
                        </p>
                        <p class="text-center">
                            <a class="btn btn-blue-dark" href="{{ party.contributor_ticketing_href }}" target="_blank">Accéder à la billetterie</a>
                        </p>
                        <p class="text-justify" style="font-size: .75rem">
                            Si vous avez bien payé la place <b>pas de panique</b>, ce message s'affiche jusqu'à la validation du paiement par l'organisateur.
                        </p>
                    {% else %}
                        <p class="text-justify">
                            <b>Vous pouvez maintenant procéder au règlement de votre place selon les modalités que vous a communiquées l'organisateur.</b>
                            Une fois votre paiement effectué l'organisateur de l'événement validera l'inscription et sa place sera assurée.
                        </p>
                        <p class="text-center">
                            <b>Toute place non payée n'est pas réservée.</b>
                        </p>
                        <p class="text-justify" style="font-size: .75rem">
                            Si vous avez bien payé la place <b>pas de panique</b>, ce message s'affiche jusqu'à la validation du paiement par l'organisateur.
                        </p>
                    {% endif %}
                    <p style="font-size: .75rem" class="text-center mt-3 mb-0"><a href="{{ back_href }}" style="color: var(--dark)">Retour</a></p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}