services:

  cla-web-back:
    build:
      context: .
      dockerfile: ./Dockerfile
    tty: true
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    volumes:
      - ./:/usr/src/app/
    environment:
      DJANGO_SETTINGS_MODULE: cla_web.settings.development
    depends_on:
      - cla-web-db

  cla-web-db:
    image: mysql
    container_name: cla-web-db
    hostname: cla-web-db
    volumes:
      - cla-dbdata:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: my-root-password
      MYSQL_DATABASE: cla_web
      MYSQL_USER: cla-admin
      MYSQL_PASSWORD: cla-password

volumes:
  cla-dbdata:
    driver: local
