{% extends "cla_event/manage/_layout.html" %}

{% block page_title %}{{ object.name }} | Événements | CLA{% endblock %}

{% block section_title %}{{ object.name }} | {{ object.get_datetime_display }}{% endblock %}

{% block section_buttons %}
    <a href="{% url "cla_event:manage:event-update" object.pk %}" class="btn btn-outline-primary btn-lg">Modifier</a>
{% endblock %}

{% block section_content %}
    <div class="mt-4">
        {% if object.validated %}
            <div class="alert alert-success align-items-center d-flex mb-5">
                <div class="mr-4">
                    <i class="far fa-check-circle" style="font-size: 1.25rem"></i>
                </div>
                <div class="flex-fill">
                    Cet événement a été validée par {{ object.validated_by.first_name }} {{ object.validated_by.last_name }} le {{ object.validated_on|date:'d/m/Y à H:i' }}.
                </div>
            </div>
        {% endif %}

        {% if not object.are_reservations_validated %}
            <div class="alert alert-info align-items-center d-flex mb-5">
                <div class="mr-4">
                    <i class="far fa-info-circle" style="font-size: 1.25rem"></i>
                </div>
                <div class="flex-fill">
                    <p class="mb-1 font-weight-bold">Des demandes de réservations liées à cet événement sont encore en attente :</p>
                    <ul class="mb-1">
                        {% for name, r in object.reservations.items %}
                            {% if r and not r.validated %}
                                <li>{{ name|capfirst }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <p>L'événement ne pourra être validé qu'une fois que toutes les demandes de réservations auront été validées.</p>
                </div>
            </div>
        {% endif %}

        <h3 style="font-size: 1.25rem">Informations sur l'association</h3>
        <div class="mt-2 px-4">
            <div class="row">
                <dl class="col-12 col-md-6">
                    <dt>Nom</dt>
                    <dd>{{ object.association.name }}</dd>
                </dl>
                <dl class="col-12 col-md-6">
                    <dt>Type</dt>
                    <dd>{{ object.association.get_type_display }}</dd>
                </dl>
            </div>
        </div>
        <div class="px-4">
            <h4 style="font-size: 1rem">Responsables</h4>
            <table class="table table-condensed">
                <tbody>
                {% for member in object.association.members.all %}
                    <tr>
                        <td>{{ member.role }}</td>
                        <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                        <td>{{ member.user.cursus }}</td>
                        <td>{{ member.user.email }}</td>
                        <td>{{ member.user.infos.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h3 style="font-size: 1.25rem">Informations sur l'événement</h3>
        <div class="mt-2 p-4">
            <div class="row">
                <dl class="col-12 col-md-6">
                    <dt>Nom</dt>
                    <dd>{{ object.name }}</dd>
                </dl>
                <dl class="col-12 col-md-6">
                    <dt>Nom "admin compatible"</dt>
                    <dd>{{ object.name_school }}</dd>
                </dl>
                <dl class="col-12 col-md-6">
                    <dt>Type d'événement</dt>
                    <dd>{{ object.type }}</dd>
                </dl>
                <dl class="col-12 col-md-6">
                    <dt>Lieu</dt>
                    <dd>{{ object.place }}</dd>
                </dl>
            </div>
            <div style="max-width: 700px">
                {% if not object.validated %}
                    {% if object.multiple_days %}
                        <div class="d-flex align-items-center alert alert-warning mb-3">
                            <div class="mr-3">
                                <i class="far fa-exclamation-triangle text-x2"></i>
                            </div>
                            <div class="flex-fill">
                                <b>Attention !</b> L'organisateur a indiqué que l'événement se déroule sur plusieurs
                                jours, rapprochez vous de lui pour en savoir plus et modifier les dates
                                en conséquence.
                            </div>
                        </div>
                    {% endif %}
                    {% if is_range_free %}
                        <div class="alert alert-success align-items-center d-flex">
                            <div class="mr-4">
                                <i class="far fa-check-circle" style="font-size: 1.25rem"></i>
                            </div>
                            <div class="flex-fill">
                                Aucun événement sur ce créneau ({{ object.get_datetime_display }})
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning align-items-center d-flex">
                            <div class="mr-4">
                                <i class="far fa-exclamation-triangle" style="font-size: 1.25rem"></i>
                            </div>
                            <div class="flex-fill">
                                Un événement a déjà été validé sur ce créneau ({{ object.get_datetime_display }})
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row">
                <dl class="col-12 col-md-6">
                    <dt>Début de l'événement</dt>
                    <dd>{{ object.starts_on|date:'d/m/Y - H\hi' }}</dd>
                </dl>
                <dl class="col-12 col-md-6">
                    <dt>Fin de l'événement</dt>
                    <dd>{{ object.ends_on|date:'d/m/Y - H\hi' }}</dd>
                </dl>
            </div>
            <div class="border-1-grey rounded-10 p-1">
                <div id="calendar"></div>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            timeZone: 'Europe/Paris',
                            locale: 'fr',
                            headerToolbar: {
                                left: 'prev,next',
                                center: 'title',
                                right: 'timeGridWeek'
                            },
                            initialView: 'timeGridWeek',
                            slotDuration: '02:00:00',
                            nextDayThreshold: '08:00:00',
                            allDaySlot: false,
                            height: 400,
                            initialDate: '{{ object.starts_on|date:'Y-m-d' }}',
                            events: {
                                url: window.location.href,
                                method: 'GET',
                                extraParams: {
                                    format: 'json'
                                }
                            },
                            eventDidMount: function (e) {
                                console.log(e)
                                if (e.event.extendedProps.popover) {
                                    $(e.el).popover({
                                        trigger: 'hover',
                                        html: true,
                                        content: e.event._def.extendedProps.popover_content
                                    })
                                }

                            }
                        });
                        calendar.render();
                    });
                </script>
            </div>
        </div>
    </div>
    {% if not object.validated %}
        <div class="row mt-4 mx-auto" style="max-width: 750px">
            <a href="{% url "cla_event:manage:event-reject" object.pk %}" class="btn btn-outline-danger btn-block btn-lg my-2">Rejeter l'événement...</a>
            {% if object.are_reservations_validated %}
                <a href="{% url "cla_event:manage:event-validate" object.pk %}" class="btn btn-outline-success btn-block btn-lg my-2">Valider l'événement...</a>
            {% else %}
                <a href="#" class="btn btn-outline-success btn-block btn-lg my-2 disabled">Valider l'événement'...</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}