{% extends "cla_reservation/manage/_layout.html" %}

{% block page_title %}Planning {{ name|capfirst }} | CLA{% endblock %}

{% block section_title %}Planning {{ name|capfirst }}{% endblock %}

{% block section_content %}
    <div class="mt-4">
        <div id='calendar'></div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    timeZone: 'Europe/Paris',
                    locale: 'fr',
                    headerToolbar: {
                        left: window.innerWidth >= 600 ? 'prev,next' : 'timeGridDay,listMonth',
                        center: 'title',
                        right: window.innerWidth >= 600 ? 'dayGridMonth,timeGridWeek,listMonth' : 'prev,next',
                    },
                    initialView: window.innerWidth >= 600 ? 'timeGridWeek' : 'timeGridDay',
                    slotDuration: '01:00:00',
                    nextDayThreshold: '08:00:00',
                    height: 700,
                    allDaySlot: false,
                    events: {
                        url: window.location.href,
                        method: 'GET',
                        extraParams: {
                            format: 'json'
                        }
                    },
                    eventDidMount: function (e) {
                        if (e.event.extendedProps.popover) {
                            $(e.el).popover({
                                trigger: 'hover',
                                html: true,
                                content: e.event._def.extendedProps.popover_content
                            })
                        }
                    },
                    eventClick: function (info) {
                        info.jsEvent.preventDefault(); // don't let the browser navigate
                        if (info.event.url) {
                            window.open(info.event.url);
                        }
                        //info.el.style.borderColor = 'red';
                    }
                });
                calendar.render();

                var refetchEventsInternal = null
                var refetchEventsTimeout = null

                function setupInternal() {
                    clearTimeout(refetchEventsTimeout);
                    clearInterval(refetchEventsInternal);
                    refetchEventsInternal = setInterval(function () {
                        calendar.refetchEvents()
                    }, 3000);
                    refetchEventsTimeout = setTimeout(function () {
                        clearInterval(refetchEventsInternal)
                    }, 5 * 60 * 1000) // Stop the auto-reloading after 5 minutes
                }

                document.addEventListener('click', setupInternal)
            });
        </script>
        <div class="alert alert-info align-items-center d-flex mt-5">
            <div class="mr-4">
                <i class="far fa-info-circle" style="font-size: 1.25rem"></i>
            </div>
            <div class="flex-fill">
                <p class="mb-2">
                    L'administration de l'école peut accéder à un planning spécifique à l'aide de ce lien :
                </p>
                <p class="text-center">
                    <a class="alert-link link-info" target="_blank" href="{{ school_admin_planning_href }}"><i class="far fa-calendar-week mr-1"></i> Planning pour l'administration</a>
                </p>
            </div>
        </div>
        <div class="border border-1-grey p-4 text-sm text-muted mt-5 mx-auto" style="width: 100%; max-width: 750px;">
            <p class="text-center">Utilisez le lien suivant pour ajouter automatiquement les réservations à votre calendrier :</p>
            <input class="form-control form-control-sm" style="width: 100%;" value="{{ sync_href }}"/>
        </div>
    </div>
{% endblock %}