{% extends "layout/main.html" %}

{% block page_title %}Erreur 500 | CLA{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="w-100 mx-auto" style="max-width: 500px">
                    <h2 class="error-code text-x7 text-md-x10 op-9 text-center">
                        500 <i class="fa fa-cogs text-primary text-xs-x6 text-md-x6"></i>
                    </h2>
                    <h3 class="error-message text-xs-x1 text-md-x2">
                        Oups, une erreur s'est produite...
                    </h3>
                    <p class="error-details text-xs-x1">
                        Une erreur s'est produite lors du chargement de la page, veuillez réessayer plus tard.<br>
                        Si l'erreur persiste, contactez nous à <a href="mailto:cla@centralelille.fr">cla@centralelille.fr</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}