{% extends "layout/main.html" %}

{% block page_title %}
    Erreur 404
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="w-90 mx-auto">
                    <h2 class="error-code text-x7 text-md-x10 op-9">
                        404 <i class="fa fa-file text-primary text-xs-x6 text-md-x6"></i>
                    </h2>
                    <h3 class="error-message text-xs-x1 text-md-x2" style="max-width: 500px">
                        Oups, la page que vous demandez n'existe pas...
                    </h3>
                    <p class="error-details">
                        Peut être avez-vous suivi un lien erroné ou bien la page que vous cherchez n'est plus disponible.
                        Si vous pensez qu'il s'agit d'une erreur, contactez nous à <a href="mailto:cla@centralelille.fr">cla@centralelille.fr</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="mt-4">
                    Peut être souhaitez-vous accéder à
                </h4>
                <ul class="list-unstyled list-lg list-bordered">
                    <li><i class="fa fa-angle-right list-item-icon"></i> <a href="{% url "cla_public:index" %}">Accueil</a></li>
                    <li><i class="fa fa-angle-right list-item-icon"></i> <a href="#">Les associations</a></li>
                    <li><i class="fa fa-angle-right list-item-icon"></i> <a href="#">Comment adhérer ?</a></li>
                    <li><i class="fa fa-angle-right list-item-icon"></i> <a href="#">Mon compte</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}