{% extends "layout/standalone.html" %}

{% block page_title %}Activation du compte | CLA{% endblock %}

{% block content_align %}align-items-center{% endblock %}

{% block content %}
    <div style="max-width: 650px" class="card w-100">
        <div class="card-body">
            <div class="mt-4 mt-md-0">
                <h1 class="text-x1 text-lg-x2"><span style="font-size: 140%">Activation du compte</span></h1>
                <h2 class="text-x1 text-lg-x2">Mot de passe</h2>
                <p class="lead mt-3">
                    Pour terminer l'activation de votre compte, veuillez choisir votre mot de passe
                </p>
                <form method="post" action="{% url "cla_auth:activate_password" user.infos.activation_jwt %}" class="mt-3">
                    {% csrf_token %}
                    {% include "components/form-group.html" with field=form.username %}
                    {% include "components/form-group.html" with field=form.password1 %}
                    {% include "components/form-group.html" with field=form.password2 %}
                    <p class="text-center mt-5">
                        <button type="submit" class="btn btn-primary btn-xl">Terminer</button>
                    </p>
                </form>

            </div>
        </div>
    </div>
{% endblock %}