{% extends "layout/main.html" %}

{% block page_title %}CLA - Activer votre compte{% endblock %}

{% block content %}
    <div class="container h-100 d-flex align-items-center">
        <div>
            <h1 class="text-x1 text-lg-x2"><span style="font-size: 140%">Charte de confidentialité</span></h1>
            <p class="lead mt-3">
                Avant de continuer, veuillez lire attentivement notre charte de confidentialité concernant le traitement
                et le stockage des informations personnelles :
            </p>
            {{  }}
            <p class="text-center mt-4">
                <a href="{% url "cla_auth:activate_rgpd" user.infos.activation_jwt %}" class="btn btn-primary btn-xl">Commencer</a>
            </p>
        </div>
    </div>
{% endblock %}