<html>
<head>
    <title>CLA - Activation de ton compte</title>
    <meta charset="utf-8">
    <style>

    </style>
</head>
<body>
<p>
    Bienvenue au sein de Centrale Lille Associations !
</p>
<p>
    En plus de la possibilité de participer aux activités des associations et des clubs sportifs, être adhérent te donne
    aussi accès à un compte personnel sur <a href="{{ site_href }}">notre plateforme web</a>. Ce compte te sera
    utile tout au long de l'année lors, entre autres, des inscriptions en soirée dansante, des votes pour l'élections
    des BDX et te donnera même accès à certain un nombre de services réservés aux adhérents de Centrale Lille
    Associations.
</p>
<p>
    Alors n'attends plus, voici le lien nécessaire pour procéder à l'activation de ton compte :
</p>
<p>
    <a href="{{ activation_href }}">{{ activation_href }}</a>
</p>
<p>

</p>
</body>
</html>