{% extends 'layout/main.html' %}

{% block page_title %}Billetteries{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-pull">
                <ul class="nav nav-section-menu mb-4 py-3 d-none d-md-block">
                    {% for section in sections_navigation %}
                        <li>
                            <a href="{{ section.href }}" class="nav-link{% if forloop.first %} first{% endif %}{% if section_active == section.id %} active{% endif %}"> {{ section.label }} <i class="fa fa-angle-right"></i> </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">

                <div class="dropdown d-block d-md-none mt-3 mb-4">
                    <a class="btn btn-primary btn-block btn-lg dropdown-toggle" href="{% url "cla_member:lobby" %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Accéder à </a>
                    <div class="dropdown-menu dropdown-menu-lg" style="width: 100%">
                        {% for section in sections_navigation %}
                            <a class="dropdown-item {% if section_active == section.id %} active{% endif %}" href="{{ section.href }}">{{ section.label }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    {% block section_top %}{% endblock %}
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="mb-0" style="font-size: 1.5rem">{% block section_title %}__SECTION_TITLE__{% endblock %}</h2>
                    <div>{% block section_buttons %}{% endblock %}</div>
                </div>

                {% block section_content %}__SECTION_CONTENT__{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}
