{% extends 'cla_member/lobby/_layout.html' %}

{% block page_title %}Mon compte{% endblock %}

{% block section_title %}Mon compte{% endblock %}

{% block section_content %}
    <div>
        <div class="mt-3 mb-3">
            <div class="row justify-content-center">
                <div class="col-auto row justify-content-center p-2 rounded-10 border-1-grey">
                    <div class="col-12 col-md-auto offset-md-0 d-flex justify-content-center justify-content-md-end">
                        <div class="rounded-circle bg-red-dark d-flex justify-content-center align-items-center text-x2 text-white user-select-none" style="width: 100px; height: 100px; font-family: 'Montserrat', sans-serif;">
                            <span>{{ user.first_name|make_list|first }}{{ user.last_name|make_list|first }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto d-flex align-items-center justify-content-center justify-content-md-start mt-3 mt-md-0">
                        <div class="text-center text-md-left">
                            <h3 class="m-0 mb-1" style="font-size: 1.5rem">{{ user.first_name }} {{ user.last_name }}</h3>
                            <h4 class="m-0 mb-1 text-grey-dark" style="font-size: .75rem">{{ user.infos.email_school }}</h4>
                            <h5 class="m-0" style="font-size: .65rem">
                                {% if user.infos.is_valid %}
                                    <span class="text-green">Votre compte est validé jusqu'au {{ user.infos.valid_until|date:'d/m/Y' }} <a href="{% url "cla_member:account_validation" %}" class="text-green"><i class="fas fa-question-circle"></i></a></span>
                                {% else %}
                                    <span class="text-red-dark">Votre compte n'est plus validé <a href="{% url "cla_member:account_validation" %}" class="text-red-dark"><i class="far fa-question-circle"></i></a></span>
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
