{% extends 'layout/main.html' %}

{% block page_title %}__ASSOCIATION_MANAGE__{% endblock %}

{% block content %}
    <div class="container">

        <div class="d-block d-md-none mb-4">

            <div class="row justify-content-center align-items-center mb-3">
                <div class="row col-auto mr-1">
                    <div>
                        {% if association.logo %}
                            <div style="height: 50px; width: 50px; background-image: url('{{ association.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                        {% else %}
                            <div class="d-flex align-items-center justify-content-center" style="height: 50px; width: 50px; background-color: #aaaaaa">
                                <h4 class="m-0 text-uppercase text-gray-700" style="font-size: 1rem">{{ association.name }}</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row col-auto align-items-center justify-content-center">
                    <div>
                        <div class="row align-items-center flex-column flex-md-row justify-content-center justify-content-md-start">
                            <h2 class="col-auto pr-md-1 m-0" style="font-size: 1.75rem">{{ association.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown mb-2">
                <a class="btn btn-primary btn-block btn-lg dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Accéder à </a>
                <div class="dropdown-menu dropdown-menu-lg" style="width: 100%">
                    {% for section in sections_navigation %}
                        <a class="dropdown-item {% if section_active == section.id %} active{% endif %}" href="{{ section.href }}">{{ section.label }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row align-items-stretch flex-grow-1">
            <div class="col col-md-3 pr-0 d-none d-md-block" style="border-right: 1px solid #E6E6E6">
                <div class="pt-3 px-3">
                    {% if association.logo %}
                        <div class="mx-auto" style="height: 100px; width: 100px; background-image: url('{{ association.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center mx-auto" style="height: 100px; width: 100px; background-color: #aaaaaa">
                            <h4 class="m-0 text-uppercase text-gray-700" style="font-size: 1rem">{{ association.name }}</h4>
                        </div>
                    {% endif %}
                    <h4 class="text-center mt-2" style="font-size: 1rem">{{ association.name }}</h4>
                </div>

                <ul class="nav nav-section-menu mb-4 py-3 d-none d-md-block" style="position: relative; left: 1px;">
                    <li>
                        <a href="{% url "cla_member:associations" %}" class="nav-link first bg-grey bg-hover-grey text-grey-dark"><i class="fa fa-angle-left"></i> Mes associations</a>
                    </li>
                    {% for section in sections_navigation %}
                        <li>
                            <a href="{{ section.href }}" class="nav-link {% if section_active == section.id %} active{% endif %}"> {{ section.label }} <i class="fa fa-angle-right"></i> </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-md-9">
                <div class="px-md-4">
                    <div>
                        {% block section_top %}{% endblock %}
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h2 class="mb-0" style="font-size: 1.5rem">{% block section_title %}__SECTION_TITLE__{% endblock %}</h2>
                        <div>{% block section_buttons %}{% endblock %}</div>
                    </div>

                    {% block section_content %}__SECTION_CONTENT__{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
