{% extends "cla_association/manage/_layout.html" %}

{% block page_title %}{{ association.name }} | Associations | CLA{% endblock %}

{% block section_title %}Espace de gestion{% endblock %}

{% block section_content %}
    <p class="text-justify">
        Cet espace dédié à votre association vous donne accès aux différentes fonctionnalités de la plateforme :
    </p>
    <ul>
        <li>Modification de la présentation de votre association sur notre site</li>
        <li>Réservation du foyer, du barbecue ou du terrain synthétique pour votre association</li>
        <li>Transmission et accès aux documents de passation pour les clubs et commissions de CLA</li>
    </ul>
    <p class="text-justify">
        Toutes les personnes recensées dans la section <a href="#">responsable</a> ont accès à cet espace.
    </p>

{% endblock %}