{% extends "layout/standalone.html" %}

{% block page_title %}Inscription : {{ event.name }}{% endblock %}

{% block content %}
    <div style="max-width: 500px" class="card w-100">
        <div class="card-body">
            <div class="mt-4 mt-md-0">
                <div class="text-center">
                    <h1 class="text-x1 text-lg-x2">Inscription : {{ event.name }}</h1>
                    <p class="lead mt-3">
                        Votre inscription a bien été enregistrée.
                    </p>
                </div>
                {% if event.ticketing_href %}
                    <p class="text-center">
                        Vous pouvez maintenant accéder à la billeterie pour régler votre place.
                        Votre inscription ne sera prise en compte qu'après le règlement de votre place.
                    </p>
                    <p class="text-center mt-4">
                        <a class="btn btn-primary btn-lg" target="_blank" href="{{ event.ticketing_href }}">Accéder à la billeterie</a>
                    </p>
                {% else %}
                    <p>
                        <a class="btn btn-primary" href="{% url "cla_public:index" %}">Retour</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}