{% extends "layout/standalone.html" %}

{% block page_title %}{{ view.event.name }} | Billetteries | CLA{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 600px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div>
                <div class="text-center">
                    <h1 class="text-x1 text-lg-x2">Inscription : {{ event.name }}</h1>
                    <p class="lead mt-3">
                        Pour continuer, connectez-vous à votre compte CLA :
                    </p>
                    <p class="mt-2">
                        <a class="btn btn-primary btn-lg" href="{% url 'cla_auth:login' %}?next={% url 'cla_ticketing:event_ticketing' event.slug %}">Connexion</a>
                    </p>
                </div>
                <form method="post" action="{% url "cla_ticketing:event_ticketing_non_member" event.slug %}" class="mt-4 small text-center">
                    {% csrf_token %}
                    <button class="btn-link text-reset" type="submit">Je n'ai pas de compte CLA</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}