{% extends "layout/standalone.html" %}

{% block page_title %}{{ view.event.name }} | Billetteries | CLA{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 600px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div>
                <div class="text-center">
                    <h1 class="text-x1 text-lg-x2">Inscription : {{ event.name }}</h1>
                    <p class="lead mt-3">
                        Votre inscription a bien été enregistrée.<br>
                        {% with registration_count=event.registrations.count %}
                            Vous êtes le
                            {% if registration_count > 1 %}
                                {{ event.registrations.count }}ème
                            {% else %}
                                {{ event.registrations.count }}er
                            {% endif %}
                             à vous inscrire !
                        {% endwith %}
                    </p>
                </div>
                {% if ticketing_href %}
                    <p class="text-center">
                        Vous pouvez maintenant accéder à la billetterie pour régler votre place.
                        Votre inscription ne sera prise en compte qu'après le règlement de votre place.
                    </p>
                    <p class="text-center mt-4">
                        <a class="btn btn-primary btn-lg" target="_blank" href="{{ ticketing_href }}">Accéder à la billetterie</a>
                    </p>
                {% else %}
                    <p class="text-center">
                        <a class="btn btn-primary" href="{% url "cla_public:index" %}">Retour</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
