{% extends "layout/standalone.html" %}

{% block page_title %}{{ view.event.name }} | Billetteries | CLA{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 600px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div class="text-center">
                <div class="text-center">
                    <h1 class="text-x1 text-lg-x2">Les inscriptions sont fermées</h1>
                    <p class="lead mt-3">
                        Les inscriptions pour cet événement sont actuellement fermées.<br>
                    </p>
                </div>
                <p>
                    <a class="btn btn-primary" href="{% url "cla_public:index" %}">Retour</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}