/*/////////////////////////////////////////////////////////////////////
 //
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 //
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 //
 // ----------------------------------------------------
 //
 // Remove unused code for better performances
 //
 // ----------------------------------------------------
 //
 // $see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 //
 // $note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 //
 /////////////////////////////////////////////////////////////////////*/
/*******************************************************
 * Custom theme code styles
 * Written by Themelize.me (http://themelize.me)
 *
 * Includes the base variables & mixins needed for all
 * scss files
 *******************************************************/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#header {

}

body .header {
    border-bottom: 1px solid #dee2e6;
}

#highlighted {

}

#content {
    min-height: calc(100vh - 450px);
}

#content-below {
    /* 4. Content Below wrapper */
}

#footer {
    /* 5. Footer wrapper */
}

/*
 * --------------------------------------------------
 * 2. Colours
 *--------------------------------------------------
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 576px) {
    /* Small devices (576px and up). Mixin: media-breakpoint-up(sm) */
}

@media (min-width: 768px) {
    /* Medium devices (768px and up). Mixin: media-breakpoint-up(md) */
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    /* Large devices (992px and up). Mixin: media-breakpoint-up(lg) */
}

@media (min-width: 1200px) {
    /* X-Large devices (1200px and up). Mixin: media-breakpoint-up(xl) */
    /* Medium devices (768px and up). Mixin: media-breakpoint-up(md) */
    .container {
        max-width: 1250px;
    }
}

/* max-width */
@media (max-width: 575.98px) {
    /* Small devices (575px and down). Mixin: media-breakpoint-down(xs) */
}

@media (max-width: 767.98px) {
    /* Medium devices (767px and down). Mixin: media-breakpoint-down(sm) */
    #content {
        min-height: calc(100vh - 200px);
    }
}

@media (max-width: 991.98px) {
    /* Large devices (992px and down). Mixin: media-breakpoint-down(md) */
}

@media (max-width: 1199.98px) {
    /* X-Large devices (1200px and down). Mixin: media-breakpoint-down(lg) */
}

/* target one breakpoint */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Small devices (between 576px and 767px). Mixin: media-breakpoint-only(sm) */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Medium devices (tablets, between 768px and 991px). Mixin: media-breakpoint-only(md) */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Large devices (desktops, between 992px and 1199px). Mixin: media-breakpoint-only(lg) */
}

@media (min-width: 1200px) {
    /* Extra large devices (large desktops, 1200px and up). Mixin: media-breakpoint-only(xl) */
}

/* span multiple screenwidths */
@media (min-width: 768px) {
    /* From medium to large (between 768px and 1199px). Mixin: media-breakpoint-between(md, xl)  */
}

/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
.cla_logo {
    --logo-size: 47px;
    display: inline-block;
    position: relative;
    padding-left: var(--logo-size);
}

.cla_logo::before {
    content: " ";
    height: var(--logo-size);
    width: var(--logo-size);
    left: 0;
    display: block;
    position: absolute;
    background: center / contain no-repeat url("/static/app/img/logo/cla_s.png");
}

.cla_logo > span {
    display: block;
    font-family: Montserrat, sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.cla_logo > span.cl {
    font-size: 22px;
    font-weight: 600 !important;
}

.cla_logo > span.a {
    font-size: 25px;
}

@media (max-width: 768px) {
    .cla_logo {
        --logo-size: 36px;
    }

    .cla_logo > span.cl {
        font-size: 17px;
        font-weight: 600 !important;
    }

    .cla_logo > span.a {
        font-size: 19px;
    }
}

.header-upper {
    height: 29px;
}

.form-group.is-invalid .invalid-feedback {
    display: block;
    margin-top: 0;
    margin-bottom: .25rem;
}

.form-group.is-invalid .form-control {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* REGISTRATION */
.registration {
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 5px;
    height: 125px;
    overflow: hidden;
    max-width: 325px;
}

.registration h3 {
    width: 75%;
    text-transform: uppercase;
    margin: 0;
}

.registration h3 span.label {
    display: block;
    margin-bottom: .25rem;
    font-size: 0.85rem;
}

.registration h3 span.status {
    display: block;
    margin-bottom: .1rem;
    font-size: 1.33rem;
}

.registration h3 span.type {
    display: block;
    color: white;
    font-size: .95rem;
}

.registration h4 {
    width: 25%;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.registration:hover {
    text-decoration: none;
    opacity: .95;
    transition: opacity 200ms;
}

.registration.ticket:hover {
    color: #ffffff;
}

.registration-self {
    border-color: #34495e;
}

.registration-self.ticket {
    background-color: #34495e;
    color: #ffffff;
    transition: opacity 150ms;
}

.registration-friend {
    border-color: #a10f2b;
}

.registration-friend.ticket {
    background-color: #a10f2b;
    color: #ffffff;
    transition: opacity 150ms;
}
