{% extends "layout/standalone.html" %}

{% block page_title %}CLA - Accès interdit{% endblock %}

{% block content_align %}align-items-center{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 450px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div class="p-2 p-md-4">
                <h1 class="text-center mb-4">
                        <span class="cla_logo" style="transform: scale(1.25)">
                          <span class="cl">Centrale Lille</span>
                          <span class="a">Associations</span>
                      </span>
                </h1>
                <div class="overflow-auto text-center" style="max-height: 33vh">
                    <p>
                        Votre compte ne vous permet pas d'accéder cette page.
                    </p>
                    <p>
                        Vous pensez qu'il s'agit d'une erreur ? <a href="mailto:cla@centralelille.fr">Contactez-nous</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}