{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{% block page_title %}Centrale Lille Associations{% endblock %}</title>
    <meta name="description"
          content="{% block page_description %}Centrale Lille Associations est une association loi 1901 fondée en 2008, continuation de plus d'un siècle et demi de développement perpétuel des structures associatives de l’École par ses étudiants.{% endblock %}">
    <meta name="author" content="Centrale Lille Associations">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'app/img/logo/cla_s.png' %}"/>

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap v4.5.0 CSS via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Theme style -->
    <link href="{% static "theme/theme-style.min.css" %}" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">

    <!--Your custom colour override-->
    <!-- <link href="{% static "theme/colour-pink.min.css" %}" id="colour-scheme" rel="stylesheet">  -->
    <link href="{% static "theme/colour-red.min.css" %}" id="colour-scheme" rel="stylesheet">

    <!-- Your custom override -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}?v={{ project_version }}">

    {% block css %}{% endblock %}
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>

</head>
<body class="page page-starter navbar-layout-default">
{% block body %}{% endblock %}
{% block end_body %}{% endblock %}

<!--jQuery 3.3.1 via CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery addon -->
<script src="{% static "jquery/jquery.csrf.js" %}"></script>
<!-- Popper 1.16.0 via CDN, needed for Bootstrap Tooltips & Popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap v4.5.0 JS via CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/fr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>
<!-- Theme's script -->
<script src="{% static "theme/script.js" %}?v={{ project_version }}"></script>
<!-- App's script -->
<script src="{% static "app/script.js" %}?v={{ project_version }}"></script>

{% block body_js %}{% endblock %}
</body>
</html>
