{% extends "layout/_base.html" %}
{% load static %}

{% block body %}
    <div style="height:100vh; background-image: url('{% block background_image_url %}{% static "app/img/rez_blur.jpg" %}{% endblock %}'); background-position: center; background-size: cover; overflow-y: hidden;" class="position-relative p-2 p-sm-4">
        <div style="height:100vh; z-index: 5; overflow-y: auto; box-sizing: content-box" class="d-flex {% block content_align %}align-items-start{% endblock %} align-items-md-center justify-content-center">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="position-fixed p-2 w-100 text-center text-white d-none d-md-block" style="font-size: .75rem; bottom: 0; background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0)); z-index: 10;">
        {% now "Y" %} © <a class="text-white" href="{% url "cla_public:index" %}">Centrale Lille Associations</a>
    </footer>
{% endblock %}