{% extends "layout/standalone_safe.html" %}


{% block css %}
    {{ block.super }}
    <style>
        header .logo {
            --size: 75px;
            width: var(--size);
            height: var(--size);
        }

        header h1 {
            font-size: 1.33rem;
            margin: 0;
        }

        @media (max-width: 500px) {
            header h1 {
                font-size: .90rem;
            }
        }

        @media (max-width: 410px) {
            header .logo {
                --size: 50px;
            }
        }

        @media (max-width: 350px) {
            header .logo {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block page_title %}Droit à l'image{% endblock %}

{% block content %}
    <div id="main" style="max-width: 650px" class="card">
        <div class="card-body w-100">
            <form method="post" class="d-flex flex-column justify-content-between h-100">
                <header class="mb-3">
                    <div class="d-flex align-items-center justify-content-around w-100">
                        <div>
                            {% if associations.cla.logo %}
                                <div class="mx-auto logo"
                                     style="background-image: url('{{ associations.cla.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center mx-auto logo" style="background-color: #aaaaaa">
                                    <h4 class="m-0 text-uppercase text-gray-700 mx-auto" style="font-size: 1rem">{{ associations.cla.name }}</h4>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <h1 class="text-center"><b>Formulaire de droit à<br>l’image et à l’information</b></h1>
                        </div>
                        <div>
                            {% if associations.bde.logo %}
                                <div class="mx-auto logo"
                                     style="background-image: url('{{ associations.bde.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center mx-auto logo" style="background-color: #aaaaaa">
                                    <h4 class="m-0 text-uppercase text-gray-700" style="font-size: 1rem">{{ associations.bde.name }}</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </header>

                <div style="flex: auto; overflow: auto">
                    <div class="border-1-grey rounded-10 mx-auto p-3">
                        <div class="mb-2 mb-md-2 text-center">
                            <p class="mx-auto" style="font-size: 0.8rem; max-width: 350px">
                                Pour commencer, veuillez remplir le formulaire ci-dessous et cliquer sur "Suivant"
                            </p>
                        </div>
                        {% csrf_token %}
                        {% include "components/form-errors.html" with form=form %}
                        {% include "components/form-group.html" with field=form.first_name %}
                        {% include "components/form-group.html" with field=form.last_name %}
                        {% include "components/form-group.html" with field=form.birthdate %}
                        {% include "components/form-group.html" with field=form.email_school %}
                    </div>
                </div>


                <div class="mt-4 mb-0">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Suivant</button>
                </div>
        </div>
    </div>
    </div>
{% endblock %}