{% extends "layout/standalone.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>

        header {
            display: flex;
        }

        #text-content {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        #canvas-container {
            max-width: 384px;
        }

        #canvas-container canvas {
            max-width: 100%;
        }

        @media (max-height: 500px) {
            header,
            #text-content {
                display: none;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        header .logo {
            --size: 75px;
            width: var(--size);
            height: var(--size);
        }

        header h1 {
            font-size: 1.33rem;
            margin: 0;
        }

        @media (min-width: 500px) {
            #rotate-phone {
                display: none;
            }
        }

        @media (max-width: 500px) {
            header h1 {
                font-size: .90rem;
            }
        }

        @media (max-width: 410px) {
            header .logo {
                --size: 50px;
            }
        }

        @media (max-width: 350px) {
            header .logo {
                display: none;
            }
        }

    </style>
{% endblock %}

{% block page_title %}Droit à l'image{% endblock %}

{% block content %}
    <div id="main" style="max-width: 600px" class="card">
        <div class="card-body w-100">
            <form method="post" class="d-flex flex-column justify-content-between h-100">
                {% csrf_token %}
                <header class="mb-3">
                    <div class="d-flex align-items-center justify-content-around w-100">
                        <div>
                            {% if associations.cla.logo %}
                                <div class="mx-auto logo"
                                     style="background-image: url('{{ associations.cla.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center mx-auto logo" style="background-color: #aaaaaa">
                                    <h4 class="m-0 text-uppercase text-gray-700 mx-auto" style="font-size: 1rem">{{ associations.cla.name }}</h4>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <h1 class="text-center"><b>Formulaire de droit à<br>l’image et à l’information</b></h1>
                        </div>
                        <div>
                            {% if associations.bde.logo %}
                                <div class="mx-auto logo"
                                     style="background-image: url('{{ associations.bde.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center mx-auto logo" style="background-color: #aaaaaa">
                                    <h4 class="m-0 text-uppercase text-gray-700" style="font-size: 1rem">{{ associations.bde.name }}</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </header>

                <div style="flex: auto; overflow: auto">
                    <div id="text-content" class="align-items-md-center px-md-5" style="overflow: auto">
                        <div style="font-size: 0.90rem" class="text-justify">
                            <p>Je soussigné.e <b>{{ image_right_agreement.fullname }}</b> né.e le <b>{{ image_right_agreement.birthdate|date:'d/m/Y' }}</b> autorise à titre gratuit
                                l’association <i>Centrale Lille Associations</i> et l’ensemble de ses clubs et commissions ainsi que <i>l’AEEC Lille</i> à :</p>
                            <ul>
                                <li>
                                    Me prendre en photo/me filmer lors des divers évènements de la vie étudiante centralienne.
                                </li>
                                <li>
                                    Diffuser ces photos/vidéos sur leurs sites internet, sur les réseaux sociaux et par les voies de communication usuelles et documents de <i>Centrale Lille Associations</i> et <i>AEEC Lille</i> sans limitation de
                                    durée.
                                </li>
                                <li>
                                    Utiliser mon nom et mon prénom dans le cadre de documents officiels créer par <i>Centrale Lille Associations</i> ou <i>AEEC Lille</i>.
                                </li>
                            </ul>
                            <div class="text-center" style="font-size: 0.90rem">
                                <b>Signé le {% now "d/m/Y" %}, à Villeneuve-d'Ascq</b>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" id="userSignature" name="userSignature" value="" required>
                        <div>
                            {{ form.signature }}
                            <span class="d-block text-center mb-2"><i class="far fa-arrow-down"></i> Signez-ici <i class="far fa-arrow-down"></i></span>
                            <div id="canvas-container" class="pos-relative mx-auto ">
                                <canvas class="d-block border-1-grey bg-gray-100" height="192" width="384" id="signature">Signature</canvas>
                                <a id="reset-canvas" href="#" class="btn btn-icon pos-absolute pos-r pos-b text-gray-500 text-hover-dark" style="font-size: .75rem"><i class="far fa-redo-alt"></i></a>
                                <div id="rotate-phone" class="pos-absolute pos-t pos-l overlay overlay-dark overlay-op-5 w-100 h-100">
                                    <div class="p-3 text-center d-flex align-items-center h-100">
                                        <div>
                                            <span class="text-white">Nous vous conseillez de signer avec votre téléphone en mode paysage.</span>
                                            <div class="mx-auto mt-3" style="max-width: 150px">
                                                <a href="#" class="btn btn-outline-white btn-block" onclick="$('#rotate-phone').remove(); return false;">Compris</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Valider</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static "cla_registration/js/signature_pad.min.js" %}"></script>
    <script>
        var signaturePad;
        document.addEventListener("DOMContentLoaded", function (e) {
            var canvas = document.getElementById('signature');
            signaturePad = new SignaturePad(canvas);
            $(window).on('resize', function (e) {
                if (window.innerHeight < 500) {
                    $('#rotate-phone').remove();
                }
            });
            $('#reset-canvas').on('click', function (e) {
                signaturePad.clear();
            });
            $('form').on('submit', function (e) {
                if (signaturePad.isEmpty()) {
                    window.alert("Il faut signer le document dans l'encadré prévu à cet effet.")
                    return false;
                } else {
                    document.getElementById('{{ form.signature.id_for_label }}').value = signaturePad.toDataURL();
                    return true;
                }
            });
        })

    </script>
{% endblock %}