{% extends "cla_association/manage/_layout.html" %}

{% block page_title %}{{ object.name }} | {{ association.name }} | CLA{% endblock %}

{% block section_title %}{{ object.name }} - {{ object.starts_on|date:'d/m' }}{% endblock %}

{% block section_content %}
    <div>
        {% if object.validated %}
            <div class="alert alert-success align-items-center d-flex mb-3 mt-3">
                <div class="mr-4">
                    <i class="far fa-check-circle" style="font-size: 1.25rem"></i>
                </div>
                <div class="flex-fill">
                    Cet événement a été validée.
                </div>
            </div>
        {% elif object.sent %}
            <div class="alert alert-info align-items-center d-flex mb-3 mt-3">
                <div class="mr-4">
                    <i class="far fa-info-circle" style="font-size: 1.25rem"></i>
                </div>
                <div class="flex-fill">
                    Cet événement a été envoyé pour validation le {{ object.sent_on|date:'d/m/Y à H:i' }}.
                </div>
            </div>
        {% elif object.rejected_for %}
            <div class="alert alert-warning align-items-center d-flex mt-4 mb-5">
                <div class="mr-4">
                    <i class="far fa-times-circle" style="font-size: 1.75rem"></i>
                </div>
                <div class="flex-fill">
                    <p class="mb-1"><b>Votre événement a été rejetée pour les raisons suivantes :</b></p>
                    <div>
                        {{ object.rejected_for|safe }}
                    </div>
                </div>
            </div>
        {% endif %}

        <p class="text-justify">
            Votre événement est maintenant créé et vous avez maintenant la possibilité d'y associer des réservations
            pour le foyer, le synthé ou le barbecue.
        </p>
        <p class="text-justify">
            Une fois que vous avez rempli tout le nécessaire il ne vous reste plus qu'à vous rendre dans la section
            "Envoyer..." pour procéder à l'envoi de votre événement pour que ce dernier soit validé.
        </p>

        <div class="mt-4">
            <ul class="nav nav-tabs flex-column flex-lg-row" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#event" role="tab" aria-selected="true">Informations</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reservation" role="tab" aria-selected="false">Réservations</a></li>
                {% if not object.sent %}
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#send" role="tab" aria-selected="false">Envoyer...</a></li>
                {% endif %}
            </ul>
            <div class="tab-content py-3">
                <div class="tab-pane show active" id="event" role="tabpanel">
                    <form method="post" enctype="multipart/form-data" class="p-2" style="max-width: 600px;">
                        {% csrf_token %}
                        {% include "components/messages.html" %}
                        {% include "components/form-errors.html" with form=form %}

                        {% if event.sent %}
                            <div class="row">
                                <dl class="col-12 col-md-6">
                                    <dt>Nom</dt>
                                    <dd>{{ event.name }}</dd>
                                </dl>
                                <dl class="col-12 col-md-6">
                                    <dt>Nom "admin compatible"</dt>
                                    <dd>{{ event.name_school }}</dd>
                                </dl>
                                <dl class="col-12 col-md-6">
                                    <dt>Type d'événement</dt>
                                    <dd>{{ event.type }}</dd>
                                </dl>
                                <dl class="col-12 col-md-6">
                                    <dt>Lieu</dt>
                                    <dd>{{ event.place }}</dd>
                                </dl>
                                <dl class="col-12 col-md-6">
                                    <dt>Début de l'événement</dt>
                                    <dd>{{ event.starts_on|date:'d/m/Y H\hi' }}</dd>
                                </dl>
                                <dl class="col-12 col-md-6">
                                    <dt>Fin de l'événement</dt>
                                    <dd>{{ event.ends_on|date:'d/m/Y H\hi' }}</dd>
                                </dl>
                            </div>

                        {% endif %}

                        {% for field in form %}
                            {% include "components/form-group.html" with field=field %}
                        {% endfor %}

                        <div class="mt-4 mx-auto" style="max-width: 600px">
                            <input class="btn btn-blue-dark btn-block btn-lg" type="submit" value="Sauvegarder">
                        </div>

                    </form>
                </div>
                <div class="tab-pane show" id="reservation" role="tabpanel">
                    <p>
                        Dans le cadre de votre événement vous pouvez réserver différentes infrastructures de la rez.
                    </p>
                    <p>
                        La validation de votre événement ne sera confirmée qu'une fois toutes vos réservations validées.
                    </p>

                    {% with reservation=event.get_reservation_foyer %}
                        <div class="border border-1-grey rounded p-4 d-flex align-items-center justify-content-between">
                            <div>
                                <h4 class="mb-2">Réservation du foyer {% if reservation %}{{ reservation.get_status_display }}{% endif %}</h4>
                                {% if reservation %}
                                    <dl>
                                        <dt>Ouverture pour installation</dt>
                                        <dd>{{ reservation.starts_on|date:'d/m/Y - H\hi' }}</dd>
                                        <dt>Fin du rangement</dt>
                                        <dd>{{ reservation.ends_on|date:'d/m/Y - H\hi' }}</dd>
                                    </dl>
                                {% else %}
                                    <p class="text-muted mb-0">Pas de réservation associée à votre événement</p>
                                {% endif %}
                            </div>
                            <div>
                                {% if reservation %}
                                    <a href="{% url "cla_reservation:association:foyer" association.slug event.pk %}" class="btn btn-outline-primary">Détails</a>
                                {% elif not event.sent and not event.validated %}
                                    <a href="{% url "cla_reservation:association:foyer" association.slug event.pk %}" class="btn btn-outline-primary">Ajouter</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with reservation=event.get_reservation_synthe %}
                        <div class="border border-1-grey rounded p-4 d-flex align-items-center justify-content-between mt-3">
                            <div>
                                <h4 class="mb-2">Réservation du synthé {% if reservation %}{{ reservation.get_status_display }}{% endif %}</h4>
                                {% if reservation %}
                                    <dl>
                                        <dt>Ouverture pour installation</dt>
                                        <dd>{{ reservation.starts_on|date:'d/m/Y - H\hi' }}</dd>
                                        <dt>Fin du rangement</dt>
                                        <dd>{{ reservation.ends_on|date:'d/m/Y - H\hi' }}</dd>
                                    </dl>
                                {% else %}
                                    <p class="text-muted mb-0">Pas de réservation associée à votre événement</p>
                                {% endif %}
                            </div>
                            <div>
                                {% if reservation %}
                                    <a href="{% url "cla_reservation:association:synthe" association.slug event.pk %}" class="btn btn-outline-primary">Détails</a>
                                {% elif not event.sent and not event.validated %}
                                    <a href="{% url "cla_reservation:association:synthe" association.slug event.pk %}" class="btn btn-outline-primary">Ajouter</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with reservation=event.get_reservation_barbecue %}
                        <div class="border border-1-grey rounded p-4 d-flex align-items-center justify-content-between mt-3">
                            <div>
                                <h4 class="mb-2">Réservation du barbecue {% if reservation %}{{ reservation.get_status_display }}{% endif %}</h4>
                                {% if reservation %}
                                    <dl>
                                        <dt>Ouverture pour installation</dt>
                                        <dd>{{ reservation.starts_on|date:'d/m/Y - H\hi' }}</dd>
                                        <dt>Fin du rangement</dt>
                                        <dd>{{ reservation.ends_on|date:'d/m/Y - H\hi' }}</dd>
                                    </dl>
                                {% else %}
                                    <p class="text-muted mb-0">Pas de réservation associée à votre événement</p>
                                {% endif %}
                            </div>
                            <div>
                                {% if reservation %}
                                    <a href="{% url "cla_reservation:association:barbecue" association.slug event.pk %}" class="btn btn-outline-primary">Détails</a>
                                {% elif not event.sent and not event.validated %}
                                    <a href="{% url "cla_reservation:association:barbecue" association.slug event.pk %}" class="btn btn-outline-primary">Ajouter</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                </div>
                {% if not object.sent %}
                    <div class="tab-pane show" id="send" role="tabpanel">
                        <div class="d-flex align-items-center alert alert-warning">
                            <div class="mr-3">
                                <i class="far fa-exclamation-triangle text-x2"></i>
                            </div>
                            <div class="flex-fill">
                                <b>Attention !</b> Une fois envoyé vous ne pourrez plus modifier les
                                dates de l'événement ainsi que les réservations associées, vérifier donc bien que tout est correct !
                            </div>
                        </div>

                        <form class="border-grey rounded-10 p-5 mt-3" method="post" action="{% url "cla_event:association:send" association.slug event.pk %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="checked">
                                    <input type="checkbox" id="checked" required> J'ai bien vérifié que tous les éléments que j'ai indiqués, autant dans la section "Informations" que dans
                                    chaque réservation, sont bien corrects <b class="text-red">*</b>
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="agreements">
                                    <input type="checkbox" id="agreements" required> J'ai lu et j'accepte expressément de respecter toutes les indications des différentes
                                    chartes d'utilisation des infrastructures et équipements associés à cette réservation et je m'engage personnellement à les faire
                                    respecter par les membres de mon association <b class="text-red">*</b>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary btn-lg">Envoyer mon événement</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}