{% extends "layout/standalone.html" %}

{% block page_title %}Demande d'adhésion enregistrée | CLA{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 500px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div class="alert alert-success text-center p-1">
                <p class="lead mt-3">
                    Votre demande d'adhésion <br>a bien été enregistrée !
                </p>
            </div>
            <p class="text-justify">
                Vous pouvez maintenant accéder à la plateforme de paiement pour régler votre cotisation d'adhésion qui s'élève à <b>{{ registration.contribution }}€</b>.<br>
                <b>Votre adhésion ne sera effective qu'après ce paiement.</b>
            </p>
            <p class="text-center mt-4">
                <a class="btn btn-primary btn-lg" target="_blank" href="{{ registration.ticketing_href }}">Paiement en ligne</a>
            </p>
            <hr class="mt-4 mb-4">
            <p class="text-justify">
                Vous avez aussi la possibilité de régler votre cotisation d'adhésion par chèque :
            </p>
            <p class="text-center mt-4">
                <a class="btn btn-secondary btn-lg" href="{% url "cla_registration:register_paiement_check" registration.pk %}">En savoir plus...</a>
            </p>

        </div>
    </div>
{% endblock %}
