{% extends "layout/standalone.html" %}

{% block page_title %}Adhérer | CLA{% endblock %}

{% block content %}
    <div id="main" class="card" style="max-width: 500px; height: initial">
        <div class="card-body w-100 overflow-auto">
            <div class="">
                <h1 class="text-center text-x1 text-lg-x2">Les inscriptions sont fermées</h1>
                <p class="lead mt-3">
                    Les demandes d'adhésion via notre site internet sont actuellement indisponibles.
                    Veuillez nous contacter à l'adresse mail suivante pour poursuivre votre demande d'adhésion :
                </p>
                <p class="lead text-center">
                    <a href="mailto:cla@centralelille.fr">cla@centralelille.fr</a>
                </p>
            </div>
            <p class="text-center">
                <a class="btn btn-primary" href="{% url "cla_registration:register_introduction" %}">Retour</a>
            </p>
        </div>
    </div>
{% endblock %}