{% extends 'layout/main.html' %}

{% block page_title %}Les associations | CLA{% endblock %}

{% block content %}
    <div class="container">
        <h1>Les associations</h1>

        <p class="text-justify">
            Retrouvez ci-dessous la liste des différentes associations constituant l'univers associatif de Centrale Lille.
        </p>
        <div class="mx-auto" style="max-width: 300px">
            <div class="dropdown mt-3 mb-4" id="categories-filter">
                <a class="btn btn-primary btn-block btn-lg dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false"> Filtrer par </a>
                <div class="dropdown-menu dropdown-menu-sm" style="width: 100%">
                    <a href="#" class="dropdown-item" data-isotope-fid="*">Toutes les associations</a>
                    {% for id, label in categories %}
                        <a class="dropdown-item" data-isotope-fid=".type-{{ id }}">{{ label }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row" data-toggle="isotope-grid" data-isotope-options="{ &quot;itemSelector&quot;: &quot;.association&quot;, &quot;layoutMode&quot;: &quot;masonry&quot;}" data-isotope-filter="#categories-filter div a"
             style="position: relative; height: 1177.5625px;">
            {% for association in associations %}
                <div class="col-md-4 association type-{{ association.category }}">
                    <div class="card mb-4 pb-2 bg-gradient bg-shadow overlay-hover">

                        <div class="pt-3 px-3">
                            {% if association.logo %}
                                <div style="height: 200px; background-image: url('{{ association.logo.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center" style="height: 200px; background-color: #aaaaaa">
                                    <h4 class="m-0 text-uppercase text-gray-700" style="font-size: 1rem">{{ association.name }}</h4>
                                </div>
                            {% endif %}
                        </div>

                        <h4 class="text-center" style="font-size: 1rem">
                            {% if association.type == "bdx" %}
                                <span class="badge bg-primary-dark text-white">{{ association.get_type_display }}</span>
                            {% elif association.type == "club" %}
                                <span class="badge bg-blue text-white">{{ association.get_type_display }}</span>
                            {% elif association.type == "commission" %}
                                <span class="badge bg-blue-dark text-white">{{ association.get_type_display }}</span>
                            {% else %}
                                <span class="badge badge-secondary text-white">{{ association.get_type_display }}</span>
                            {% endif %}
                        </h4>

                        <div class="overlay-hover-content overlay-op-9 text-white pb-5">
                            <p class="text-justify" style="font-size: .75rem">{{ association.description|linebreaksbr }}</p>
                            <p class="text-center pos-absolute" style="bottom: 0">
                                <a href="{% url "cla_association:public:detail" association.slug %}" class="btn btn-dark">En savoir plus</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="text-center text-sm text-muted mx-auto mt-4" style="max-width: 750px">
            Les associations indiquées comme étant "BDX", "Club" ou "Commission" sont directement dépendantes de <i>Centrale Lille
            Associations</i>, et celles indiquées comme "loi 1901" sont gérées de manière indépendante.
        </p>
    </div>
{% endblock %}
